body {
    margin: 0;
}

/* Overall Modal Styling */
#new-event-modal {
    position: fixed;
    /* Stay in place */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    z-index: 1;
    /* Sit on top */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Modal Content */
#new-event-modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    /* Could be more or less, depending on screen size */
    text-align: center;
    position: relative;
}

/* Modal Header */
#new-event-modal h2 {
    margin: 0;
    padding: 10px;
    background-color: #333;
    color: white;
}